@tailwind base;
@tailwind components;
@tailwind utilities;
.filter-bg {
  background-image: url('/services/filter-bg.svg');
  background-size: cover;
  background-position: center;
}
.featured-bg {
  background-image: url('/services/featured-bg.svg');
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; 
}
